<div class="row">
    <h1 class="col-md-6 text-center center-block">WASMUN Assistant Director/Chair Application</h1>
</div>

<form class="form-horizontal" role="form" name="formInfo" novalidate>
    <div class="col-md-6 center-block">
        <div class="form-group" ng-class="{'has-error': formInfo.formName.$invalid && formInfo.formName.$touched, 'has-success': formInfo.formName.$valid && formInfo.formName.$touched}">
            <label class="control-label col-md-2" for="formName">*Name:</label>
            <div class="col-md-10">
                <input type="input" class="form-control" id="formName" name="formName" ng-model="ngFormName" placeholder="First and Last" required>
                    <div class="error-message" ng-show="formInfo.formName.$invalid && formInfo.formName.$touched">
                        <i class="fa fa-exclamation-triangle"></i> Please enter a valid name.
                    </div>
            </div>

        </div>

        <div class="form-group" ng-class="{'has-error': formInfo.formEmail.$invalid && formInfo.formEmail.$touched, 'has-success': formInfo.formEmail.$valid && formInfo.formEmail.$touched}">
            <label class="control-label col-md-2" for="formEmail">*Email:</label>
            <div class="col-md-10">
                <input type="email" class="form-control has-error" id="formEmail" name="formEmail" ng-model="ngFormEmail" ng-model-options="{updateOn: 'mousedown blur'}" placeholder="example@foobar.com" required>
                <div class="error-message" ng-show="formInfo.formEmail.$invalid && formInfo.formEmail.$touched">
                    <i class="fa fa-exclamation-triangle"></i> Please enter a valid email address.
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': formInfo.formPhone.$invalid && formInfo.formPhone.$touched, 'has-success': formInfo.formPhone.$valid && formInfo.formPhone.$touched}">
            <label class="control-label col-md-2" for="formPhone">*Phone Number:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="formPhone" name="formPhone" ng-minlength="10" ng-model="ngFormPhone" ng-model-options="{updateOn: 'mousedown blur'}" placeholder="123-456-7890" required>
                <div class="error-message" ng-show="formInfo.formPhone.$invalid && formInfo.formPhone.$touched">
                    <i class="fa fa-exclamation-triangle"></i> Please enter a valid phone number.
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': ngFormContact == null && formInfo.formContact.$touched, 'has-success': ngFormContact != null && formInfo.formContact.$touched}">
            <label class="control-label col-md-2" for="formContact">*Contact me by:</label>
            <div class="col-md-10">
                <select class="form-control" id="formContact" name="formContact" ng-model="ngFormContact" ng-options="methods.value as methods.name for methods in contactMethods" required>
                </select>
                <div class="error-message" ng-show="ngFormContact == null && formInfo.formContact.$touched">
                    <i class="fa fa-exclamation-triangle"></i> Please select a preferred method of communication.
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': formInfo.formJob.$invalid && formInfo.formJob.$touched, 'has-success': formInfo.formJob.$valid && formInfo.formJob.$touched}">
            <label class="control-label col-md-2" for="formJob">*Occupation:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="formJob" name="formJob" ng-model="ngFormJob" placeholder="Current Job/Occupation" required>
                <div class="error-message" ng-show="formInfo.formJob.$invalid && formInfo.formJob.$touched">
                    <i class="fa fa-exclamation-triangle"></i> Please enter in your current job/occupation.
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="">
            <label>*Please select all the positions that apply:</label>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="form-group text-center">
                    <label for="adRequest">Assistant Director</label> <a href="" ng-click="resetField('ad')">(Reset)</a>
                    <select multiple class="form-control" id="adRequest" name="adRequest" ng-model="ngAdRequest" size="6" ng-multiple="true" required>
                        <option style="display:none" value=""></option>
                        <option value="icj">ICJ</option>
                        <option value="ecosoc">ECOSOC</option>
                        <option value="hrc">Human Rights Council</option>
                        <option value="unodc">UN Office on Drugs and Crime</option>
                        <option value="ga4">General Assembly 4</option>
                        <option value="unep">UN Environmental Program</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group text-center">
                    <label for="chairRequest">Chair</label> <a href="" ng-click="resetField('chair')">(Reset)</a>
                    <select multiple class="form-control" id="chairRequest" name="chairRequest" ng-model="ngChairRequest" size="6" ng-multiple="true" required>
                        <option style="display:none" value=""></option>
                        <option value="icj">ICJ</option>
                        <option value="ecosoc">ECOSOC</option>
                        <option value="hrc">Human Rights Council</option>
                        <option value="unodc">UN Office on Drugs and Crime</option>
                        <option value="ga4">General Assembly 4</option>
                        <option value="unep">UN Environmental Program</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>



<form name="formEnter" role="form" novalidate>
    <div class="col-md-6 center-block">
        <div class="form-group" ng-class="{'has-error': formEnter.enterInterest.$invalid && formEnter.enterInterest.$touched, 'has-success': formEnter.enterInterest.$valid && formEnter.enterInterest.$touched}">
            <label for="enterInterest">*Why are you interested in WASMUN?</label>
            <div class="error-message" ng-show="formEnter.enterInterest.$invalid && formEnter.enterInterest.$touched">
                <i class="fa fa-exclamation-triangle"></i> Please explain your interest.
            </div>
            <textarea class="form-control" rows="5" id="enterInterest" name="enterInterest" ng-model="ngEnterInterest" required></textarea>
        </div>


        <div class="form-group" ng-class="{'has-error': formEnter.enterPastWasmun.$invalid && formEnter.enterPastWasmun.$touched, 'has-success': formEnter.enterPastWasmun.$valid && formEnter.enterPastWasmun.$touched}">
            <label for="enterPastWasmun">*What experience with WASMUN do you have?</label>
            <div class="error-message" ng-show="formEnter.enterPastWasmun.$invalid && formEnter.enterPastWasmun.$touched">
                <i class="fa fa-exclamation-triangle"></i> Please explain your prior experience.
            </div>
            <textarea class="form-control" rows="5" id="enterPastWasmun" name="enterPastWasmun" ng-model="ngEnterPastWasmun" required></textarea>
        </div>

        <div class="form-group" ng-class="{'has-error': formEnter.enterPast.$invalid && formEnter.enterPast.$touched, 'has-success': formEnter.enterPast.$valid && formEnter.enterPast.$touched}">
            <label for="enterPast">*Besides WASMUN, have you had any experience with MUN?</label>
            <div class="error-message" ng-show="formEnter.enterPast.$invalid && formEnter.ngEnterPast.$touched">
                <i class="fa fa-exclamation-triangle"></i> Please explain your other MUN experiences.
            </div>
            <textarea class="form-control" rows="5" id="enterPast" name="enterPast" ng-model="ngEnterPast" required></textarea>
        </div>

        <div class="form-group" ng-class="{'has-error': formEnter.enterCollab.$invalid && formEnter.enterCollab.$touched, 'has-success': formEnter.enterCollab.$valid && formEnter.enterCollab.$touched}">
            <label for="enterCollab">*How do you see yourself working with the other members of your committees DIAS, the Director General, and the Assistant Director General?</label>
            <div class="error-message" ng-show="formEnter.enterCollab.$invalid && formEnter.enterCollab.$touched">
                <i class="fa fa-exclamation-triangle"></i> Please explain how you see yourself working with other Dias.
            </div>
            <textarea class="form-control" rows="5" id="enterCollab" name="enterCollab" ng-model="ngEnterCollab" required></textarea>
        </div>

        <div class="form-group" ng-class="{'has-error': formEnter.enterAvail.$invalid && formEnter.enterAvail.$touched, 'has-success': formEnter.enterAvail.$valid && formEnter.enterAvail.$touched}">
            <label for="enterAvail">*What is your availability in the coming months, particularly over the Winter break and January?</label>
            <div class="error-message" ng-show="formEnter.enterAvail.$invalid && formEnter.enterAvail.$touched">
                <i class="fa fa-exclamation-triangle"></i> Please describe your avilability.
            </div>
            <textarea class="form-control" rows="5" id="enterAvail" name="enterAvail" ng-model="ngEnterAvail" required></textarea>
        </div>



        <!--<div class="checkbox">-->
            <!--<label class="control-label" style="font-weight: bold"><input type="checkbox" id="enterAvailable" ng-model="ngEnterAvailable" required>I am available on March 5 and March 6.</label>-->
        <!--</div>-->


    </div>
</form>

<div class="col-md-6 center-block">
    <div class="text-center">
        <button type="button" class="btn btn-success btn-lg"  data-toggle="modal" ng-click="submitForm()" ng-disabled="formInfo.$invalid || formEnter.$invalid">Submit Application</button>
        <div class="error-message" ng-show="formInfo.$invalid || formEnter.$invalid">
            <i class="fa fa-exclamation-triangle"></i> Elements of the application form are incomplete still. Please check that you have filled out all the required fields, indicated with asterisks (*).
        </div>
    </div>
</div>